.html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}

.body{
    font-family: 'Poppins', sans-serif;
}

$black: #000;
$white: #fff;

.page{
    max-width: 1440px;
    margin: 0 auto;
    background-color: $black;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* main_header */
.main_container{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    .main_header{
        padding-top: 55px;
        display: flex;
        font-family: 'Poppins', sans-serif;
        .main_item{
            font-weight: 800;
            font-size: 15px;
            line-height: 97.6%;
            color: $white;
            margin-right: 10px;
        }
        .vl{
            border: 1px solid rgba(255, 255, 255, 0.3);
            height: 20px;
        }
        .main_subtatl{
            margin-left: 10px;
            font-weight: 300;
            font-size: 15px;
            line-height: 97.6%;
            color: $white;
        }
    }
    .main_iner{
        padding-top: 120px;
        .main_hed{
            max-width: 585px;
            padding: 10px;
            font-weight: 800;
            font-size: 104px;
            line-height: 97.6%;
            color: rgba(255, 255, 255, 0.5);
        }
        .main_text{
            font-family: 'Poppins', sans-serif;
            display: flex;
            padding-top: 34px;
            font-weight: 300;
            font-size: 16px;
            line-height: 97.6%;
            color: rgba(255, 255, 255, 0.7);
                .Arrow_img{
                display: block;
                margin-top: 10px;
                margin-left: -50px;
            }
        }
    }
    .rectangle_img{
        width: 700px;
        right: -6.2%;
        top: 0;
        position: absolute;
    }
    .main_button{
        margin-top: -30px;
        .button{
        font-family: 'Poppins', sans-serif;
        color: $white;
        padding: 16px 40px;
        border: 1px solid $white;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 300;
        font-size: 18px;
        line-height: 97.6%;
        }
    }
    .main_img{
        padding: 150px 0;
        .instagram_img{
            margin-right: 30px;
        }
    }
}
/* main_about */
.main_about{
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
    .about_title{
        font-weight: 800;
        font-size: 144px;
        line-height: 97.6%;
        color: $white;
        margin-bottom: 156px;
    }
}
.main_container{
    position: relative;
    .about_img{
        position: absolute;
        top: 10%;
    }
} 
.about_info{
    margin-top: 120px;
    margin-left: 37%;
    margin-bottom: 200px;
    display: inline;
    border: 1px solid $white;
    border-radius: 64px;
    max-width: 813px;
    .about_text{
        color: $white;
        font-weight: 300;
        font-size: 24px;
        line-height: 173.1%;
        padding: 0 60px 80px 60px;
    }
    .group_img{
        padding: 60px 0 39px 60px;
    }
}

/* main_services */
.main_services{
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
    .services_title{
        .services_hed{
            font-weight: 800;
            font-size: 144px;
            line-height: 97.6%;
            color: $white;
            margin-bottom: 90px;
        }
    }
    .services_container{
        display: grid;
        grid-template: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
        .services_img{
            padding: 25px;
            border-radius: 50px;
            margin-bottom: 20px;
            background: #525252;
        }
        .services_block{
            text-align: center;
            padding: 27px;
            background: #272727;
            border-radius: 25px;
            max-width: 435px;;
            .services_item{
                font-weight: 500;
                font-size: 24px;
                line-height: 97.6%;
                color: $white;
            }
        }
        .services_text{
            text-align: center;
            color: $white;
            margin: 0 auto;
            padding-top: 27px;
            max-width: 272px;
            padding-bottom: 48px;
            font-weight: 500;
            font-size: 18px;
            line-height: 152.1%;
        }
    }
}

/* slider */
.main_slider-header{
    font-family: 'Poppins', sans-serif;
    .slider_header{
        padding-top: 244px;
        margin-bottom: 150px;
        font-weight: 800;
        font-size: 144px;
        line-height: 97.6%;
        color: $white;
    }
   
}
.slider_text{
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    font-weight: 800;
    font-size: 24px;
    line-height: 97.6%;
    color: $white;
}  

/* footer */
.footer_container{
    display: flex;
    .footer_inner{
        .footer_title{
            font-family: 'Poppins', sans-serif;
            padding-top: 250px;
            padding-bottom: 60px;
            .footer_hed{
                font-weight: 800;
                font-size: 144px;
                line-height: 97.6%;
                color: $white;
            }
        }
        .footer_input{
            display: flex;
                .footer_iner{
                font-size: 25px;
                background: #272727;
                border-radius: 15px;
                padding: 20px;
                margin-right: 50px;
                color: $white ;
            }
        }
        .footer_message{
            background: #272727;
            font-size: 25px;
            margin-top: 30px;
            padding: 0 20px;
            width: 650px;
            height: 339px;
            color: $white ;
            border-radius: 15px;
            margin-bottom: 150px;
        }
        .footer_btn{
            font-family: 'Poppins', sans-serif;
            padding-bottom: 50px;
                .footer_button{
                padding: 35px 80px;
                background: #FFF500;
                border-radius: 15px;
                text-decoration: none;
                font-weight: 500;
                font-size: 24px;
                line-height: 97.6%;
                color: $black;
            }
        }
    }
    .head_img{
        margin-top: 45%;
        width: 500px;
        height: 500px;
    }
}